<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.wjxiu.mapper.EvalMapper">

    <resultMap id="BaseResultMap" type="com.github.wjxiu.DO.EvalDO">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="evalItem" column="eval_item" jdbcType="VARCHAR"/>
            <result property="explanation" column="explanation" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="pagelist" resultType="com.github.wjxiu.DO.EvalDO">
        select *
        from eval e
        <where>
            <if test="id!=null ">
             and   e.id =#{id}
            </if>
            <if test="evalItemName!=null and evalItemName!=''">
              and  e.eval_item like concat('%',#{evalItemName},'%')
            </if>
        </where>
    </select>
    <select id="getTeacherEvalByStuidAndTeacherId" resultType="com.github.wjxiu.DTO.Resp.EvalRateReq">
        SELECT ev.id as evalId,
               stev.id,
               stev.stu_id,
               ev.eval_item,
               stev.rate,
               stev.update_time,
               stev.create_time
        FROM eval ev
                 LEFT JOIN student_eval stev
                           ON ev.id = stev.eval_id
                               AND stev.teacher_id = #{teacherId}
                               AND stev.stu_id = #{stuId}

    </select>
</mapper>
