<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.wjxiu.mapper.MajorMapper">

    <resultMap id="BaseResultMap" type="com.github.wjxiu.DO.MajorDO">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="major_name" column="major_name" jdbcType="VARCHAR"/>
            <result property="department_id" column="department_id" jdbcType="INTEGER"/>
            <result property="department_name" column="department_name" jdbcType="VARCHAR"/>
            <result property="create_name" column="create_name" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="del_flag" column="del_flag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,major_name,department_id,
        department_name,create_name,update_time,
        del_flag
    </sql>
</mapper>
