<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.wjxiu.mapper.StuClassMapper">

    <resultMap id="BaseResultMap" type="com.github.wjxiu.DO.StuClassDO">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="course_id" column="course_id" jdbcType="INTEGER"/>
            <result property="enroll_year" column="enroll_year" jdbcType="TINYINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="department_name" column="department_name" jdbcType="VARCHAR"/>
            <result property="marjor_name" column="marjor_name" jdbcType="VARCHAR"/>
            <result property="create_name" column="create_name" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="del_flag" column="del_flag" jdbcType="TINYINT"/>
            <result property="teacher_id" column="teacher_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,course_id,enroll_year,
        name,department_name,marjor_name,
        create_name,update_time,del_flag,
        teacher_id
    </sql>
</mapper>
