<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.wjxiu.mapper.StudentCourseClassTeacherMapper">
    <resultMap id="BaseResultMap" type="com.github.wjxiu.DO.StudentCourseClassTeacherDO">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="studentId" column="student_id" jdbcType="INTEGER"/>
            <result property="teacherId" column="teacher_id" jdbcType="INTEGER"/>
            <result property="courseId" column="course_id" jdbcType="INTEGER"/>
            <result property="stuClassId" column="stu_class_id" jdbcType="INTEGER"/>
            <result property="studentName" column="student_name" jdbcType="VARCHAR"/>
            <result property="courseName" column="course_name" jdbcType="VARCHAR"/>
            <result property="stuClassName" column="stu_class_name" jdbcType="VARCHAR"/>
            <result property="teacherName" column="teacher_name" jdbcType="VARCHAR"/>
            <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,student_id,teacher_id,
        course_id,stu_class_id,student_name,
        course_name,stu_class_name,teacher_name,
        del_flag
    </sql>
    <select id="getAllByTeacherId" resultType="com.github.wjxiu.DO.StudentCourseClassTeacherDO">
        select *
        from student_course_class_teacher
        where teacher_id=#{id} and del_flag=0

    </select>
</mapper>
